# Data Pre-Processing

First, we are going to clean the data and then we are going to perform feature engineering to enrich the data.

## 1. Data Cleaning

First, we are going to clean the data by:
- checking for duplicate rows
- checking for missing values
- checking the percentage of missing values of each column
- checking for any redundant (uninformative) columns
- checking the column data types

In [1]:
import os
import re
import ast
import pandas as pd
import numpy as np
import spacy         # Natural language processing
import isodate       # Date transformation and manipulation

from dateutil import parser

#### Read the channels and videos files into dataframes

In [2]:
# Read in the csv files from the raw data folder
channels_df = pd.read_csv("../data/raw/fitness_channels_2023_06_28.csv")
videos_df = pd.read_csv("../data/raw/fitness_videos_2023_06_28.csv")

In [3]:
channels_df.head()

,ChannelName,ChannelDescription,PublishedDate,TotalSubscribers,TotalViews,TotalVideos,playlistID
0,Chloe Ting,Subscribe to my channel and find weekly workou...,2011-08-17T04:29:09Z,24700000,2980737335,407,UUCgLoMYIyP0U56dEhEL1wXQ
1,blogilates,"Hey guys! My name is Cassey Ho, I am a certifi...",2009-06-13T09:05:48Z,8690000,2820126375,1183,UUIJwWYOfsCfz6PjxbONYXSg
2,MadFit,"This is a place where I post REAL TIME, AT HOM...",2018-03-02T01:46:06Z,8000000,943060836,723,UUpQ34afVgk8cRQBjSJ1xuJQ
3,Rebecca-Louise,"Hey, \n\nWelcome to #TEAMBURN üôåüèª \n\nI am so e...",2012-09-22T18:04:00Z,720000,117668198,1257,UUi0AqmA_3DGPFCu5qY0LLSg
4,emi wong,welcome to my channel!\nhope my videos can hel...,2014-11-02T14:43:34Z,6100000,819791658,499,UUvGEK5_U-kLgO6-AMDPeTUQ

In [4]:
videos_df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition
0,e7zzES8PeG4,Chloe Ting,Shocking Before After Transformation Results! ...,Check out these amazing before and after trans...,"['Abs', 'Abs results', 'Abs workout results', ...",2023-06-28T14:00:23Z,36033,2677.0,NaN,163.0,PT9M22S,hd
1,AZ1ihabY6bI,Chloe Ting,when you're having a bad day,Cute samoyed doggies in Seoul!!,"['samoyed', 'seoul', 'day in my life', 'doggie...",2023-06-19T14:55:36Z,87568,4739.0,NaN,77.0,PT18S,hd
2,5GLA8MrlDnM,Chloe Ting,A day in my life living in Korea,Short vlog from a day out and about while in S...,"['dayinmylife', 'korea', 'seoul', 'vlog', 'chl...",2023-06-05T14:51:22Z,317017,9618.0,NaN,708.0,PT12M37S,hd
3,IOJ7Fxa8e2Y,Chloe Ting,GROW YOUR BOOTY with these exercises,See the full video here: https://youtu.be/4zuY...,"['glute workout', 'booty workout', 'gym workou...",2023-05-24T15:32:44Z,171898,5484.0,NaN,57.0,PT23S,hd
4,ljNgkSctkXg,Chloe Ting,INTENSE Full Body Workout - 30 Min No Equipment,This is a 30 min full body intense workout fro...,"['workout', 'home workout', 'full body workout...",2023-05-17T14:00:27Z,620735,17223.0,NaN,863.0,PT31M14S,hd

#### Check for duplicate rows and columns

In [5]:
# check for duplicate rows in channels and videos data
(channels_df.duplicated().any(),videos_df.duplicated().any())

(False, False)

#### Check for missing data

In [6]:
channels_df.isnull().any()

ChannelName           False
ChannelDescription    False
PublishedDate         False
TotalSubscribers      False
TotalViews            False
TotalVideos           False
playlistID            False
dtype: bool

In [7]:
videos_df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount          True
favouriteCount     True
commentCount       True
duration          False
definition        False
dtype: bool

#### Check for percentage of missing values

In [8]:
# Find the percentage of missing values from columns that contains them in the videos dataframe
missingval_columns = videos_df.loc[:, ['description', 'tags', 'likeCount','favouriteCount','commentCount']]
missingval_columns.isnull().sum() / missingval_columns.shape[0] * 100.00

description         4.396954
tags               12.773274
likeCount           1.105380
favouriteCount    100.000000
commentCount        0.245640
dtype: float64

In [9]:
# Drop the favouriteCount column since it only contains missing values
videos_df.drop('favouriteCount', axis=1, inplace=True)

#### Check for redundant columns

In [10]:
# Find the unique values of the definition column
videos_df['definition'].unique()

array(['hd', 'sd'], dtype=object)

In [11]:
# Check the percentage of each unique value in the definition column
videos_df['definition'].value_counts() / videos_df['definition'].shape[0] * 100

hd    99.557848
sd     0.442152
Name: definition, dtype: float64

In [12]:
# Drop the definition column for being uninformative
videos_df.drop('definition', axis=1, inplace=True)

In [13]:
# Check the date values to make sure there are no errors
videos_df.publishedAt.sort_values()

1589    2009-10-06T04:47:37Z
1588    2009-11-04T18:05:19Z
1587    2009-11-10T05:18:29Z
1586    2009-11-18T06:49:44Z
1585    2009-11-30T08:13:39Z
                ...
1591    2023-06-27T15:39:25Z
2315    2023-06-27T16:08:44Z
1590    2023-06-28T14:00:06Z
0       2023-06-28T14:00:23Z
2314    2023-06-28T14:35:24Z
Name: publishedAt, Length: 4071, dtype: object

#### Checking the column data types

In [14]:
channels_df.dtypes

ChannelName           object
ChannelDescription    object
PublishedDate         object
TotalSubscribers       int64
TotalViews             int64
TotalVideos            int64
playlistID            object
dtype: object

In [15]:
videos_df.dtypes

video_id         object
channelTitle     object
title            object
description      object
tags             object
publishedAt      object
viewCount         int64
likeCount       float64
commentCount    float64
duration         object
dtype: object

## 2. Feature Engineering

Second, we are going to perform feature engineering to enrich the data by:
* Convert ISO 8601 duration format from the YouTube Data API v3
    1. first convert to timedelta[s]
    2. then convert to minutes since this unit of duration is more intuitive to work with for workout videos
    3. check for any errors or outliers (address them if necessary)
* Derive new features from the published date column 
    1. Get published year
    2. Get published month
    3. Get published day of the week
    4. Get published time of day
* Get the length of the video title
* Get the total number of tags in the tags column
* use natural language processing (via spaCy) to derive useful features from the video title, description, and/or tags
    1. Get the workout length; since actual workout duration and video duration are usually not the same
    2. Get the workout type (cardio, HIIT, yoga, pilates, etc..)
    3. Get the target body part (legs, abs, arms ,etc..)
    3. Get any special aspect of the workout (no jumping, standing, no equipment, etc..)

In [16]:
# Convert duration to seconds
videos_df['durationSecs'] = videos_df['duration'].apply(lambda x: isodate.parse_duration(x))
videos_df['durationMins'] = videos_df['durationSecs'].astype('timedelta64[s]')/60

In [17]:
# Check the distribution of the video duration for presence of any outliers
videos_df['durationMins'].describe()

count    4071.000000
mean       10.810239
std         9.216769
min         0.000000
25%         3.783333
50%        10.633333
75%        14.508333
max       130.816667
Name: durationMins, dtype: float64

In [18]:
# Check for videos that are longer than 45 mins
videos_df[videos_df['durationMins'] > 45][['channelTitle','title','duration','durationSecs','video_id']]

,channelTitle,title,duration,durationSecs,video_id
145,Chloe Ting,Abs & Booty Workout Livestream,PT1H34M6S,0 days 01:34:06,tahd5q-onKc
165,Chloe Ting,10 Million Subs LIVESTREAM | Let's hangout + W...,PT2H10M49S,0 days 02:10:49,IdO0Ie3_2QU
207,Chloe Ting,2000 REP Full Body & Abs Workout CHALLENGE for...,PT49M48S,0 days 00:49:48,004CudS_3Ew
273,Chloe Ting,45 Min Full Body FAT BURN Workout | Get Flat A...,PT46M53S,0 days 00:46:53,LDvAuqTZxMw
490,blogilates,POPFLEX Pre-Black Friday Extravaganza,PT1H12M46S,0 days 01:12:46,HO84VmEkfq0
1047,blogilates,*Special* Full Length 1 Hour POP Pilates Class!,PT1H8M47S,0 days 01:08:47,s0CkBw5Wock
1355,blogilates,Can I do 1000 Squats? FULL LENGTH Version,PT45M16S,0 days 00:45:16,fF71IJUXGOk
2512,Rebecca-Louise,FULL BODY FAT LOSS üî• 30 min at Home Workout + ...,PT55M16S,0 days 00:55:16,_NOGXxLGQ0A
2588,Rebecca-Louise,LEAN OUT Live Workout | Q&A with Rebecca Louis...,PT45M35S,0 days 00:45:35,AKzN3-JBOvU
2805,Rebecca-Louise,30 minutes FLAT TUMMY & THIGH GAP at home work...,PT45M36S,0 days 00:45:36,hx6E8eTOmNs
2806,Rebecca-Louise,30 minute ROUND BOOTY & SMALL WIAST workout (b...,PT46M,0 days 00:46:00,_pJTjFQLR_8
2831,Rebecca-Louise,LOSE FAT AND GET TONED in 40 minutes from home,PT47M35S,0 days 00:47:35,s0H3x9pH7yk
3086,Rebecca-Louise,Master the mental & the POWER of visualization...,PT51M52S,0 days 00:51:52,0o4JRqqZmb4
3089,Rebecca-Louise,Know your value and OWN your self-worth | Rebe...,PT48M47S,0 days 00:48:47,G25aQB1sCWQ
3107,Rebecca-Louise,Building a BUSINESS & how to create VIRAL VIDE...,PT56M20S,0 days 00:56:20,wmF_P2QhB3M
3652,emi wong,45 MIN WALKING CARDIO WORKOUT | Intense Full B...,PT45M18S,0 days 00:45:18,fIDmwKCJmlA
3760,emi wong,45 min Full Body Workout to BURN MAX CALORIES ...,PT47M58S,0 days 00:47:58,Wgm1Xc25imM
3821,emi wong,1 HOUR FULL BODY FAT BURN HOME WORKOUT (Warm U...,PT1H2M35S,0 days 01:02:35,p188evCXF0k
3843,emi wong,"2 Weeks Workout Program to Lose Weight, Get Ab...",PT1H4M51S,0 days 01:04:51,EJKw3Mh0MyI
3924,emi wong,45-min Full Body Fat Burn HIIT at home with NO...,PT46M43S,0 days 00:46:43,wAIRYalt75w

In [19]:
# list of ids of videos longer than 45 mins whose title clearly indicates are not workout videos
videos_to_drop = ['IdO0Ie3_2QU', 'HO84VmEkfq0', '0o4JRqqZmb4', 'G25aQB1sCWQ', 'wmF_P2QhB3M']

# Drop those videos in the list above from the videos data
videos_df = videos_df[~videos_df['video_id'].isin(videos_to_drop)]

In [20]:
# Check the distribution of video duration again after removal of nonworkout videos
videos_df['durationMins'].describe()

count    4066.000000
mean       10.734854
std         8.904005
min         0.000000
25%         3.770833
50%        10.633333
75%        14.466667
max        94.100000
Name: durationMins, dtype: float64

In [21]:
# Create publish datetime and year for channels data
channels_df['publishedDatetime'] =  channels_df['PublishedDate'].apply(lambda x: parser.parse(x))
channels_df['publishedYear'] = channels_df['publishedDatetime'].apply(lambda x: int(x.strftime("%Y")))

# Create publish year and month (of the year) columns
videos_df['publishedDatetime'] = videos_df['publishedAt'].apply(lambda x: parser.parse(x))
videos_df['publishedYear'] = videos_df['publishedDatetime'].apply(lambda x: int(x.strftime("%Y")))
videos_df['publishedMonth'] = videos_df['publishedDatetime'].apply(lambda x: x.strftime("%b"))

# Create publish day (of the week) and hour columns
videos_df['pushblishDayName'] = videos_df['publishedDatetime'].apply(lambda x: x.strftime("%a")) 
videos_df['publishedHour'] = videos_df['publishedDatetime'].apply(lambda x: x.strftime("%H"))

In [22]:
# Title character length
videos_df['titleLength'] = videos_df['title'].apply(lambda x: len(x))

# Create the number of tags column
videos_df['tags'] = videos_df['tags'].replace(np.nan, None)
videos_df['tags'] = videos_df['tags'].apply(lambda x: x if x is None else ast.literal_eval(x))
videos_df['tagsCount'] = videos_df['tags'].apply(lambda x: 0 if x is None else len(x))

In [23]:
# Now we are going to use spaCy's entity ruler along with regex 
# to extract entities from the text columns.

# Download spaCy's small english model
nlp = spacy.load("en_core_web_sm")

# Create and add the EntityRuler
ruler = nlp.add_pipe("entity_ruler", before="ner")

In [24]:
#List of Entities and Patterns
patterns = [
    {"label": "WORKOUT_TIME", "pattern": [{"TEXT": {"REGEX": r"^(\d+)"}},
                                          {"LOWER":{"REGEX": r"^(min|mins|minute|minutes|hour|hours|hr|hrs)$"}}
                                         ]},
    {"label": "FULL_BODY", "pattern": [{"LOWER": {"REGEX": r"(full|total|whole)"}}, {"LOWER": "body"}]},
    {"label": "UPPER_BODY", "pattern": [{"LOWER": "upper"}, {"LOWER": "body"}]},
    {"label": "LOWER_BODY", "pattern": [{"LOWER": "lower"}, {"LOWER": "body"}]},
    {"label": "CHEST_BACK", "pattern": [{"LOWER": {"REGEX": r"(back|chest)"}}, {"ORTH": {"REGEX": r"(and|&)?"}} ,{"LOWER": {"REGEX": r"(back|chest)?"}}]},
    {"label": "ABS", "pattern": [{"LOWER": {"REGEX": r"(core|ab|abs|plank)"}}]},
    {"label": "ARMS", "pattern": [{"LOWER": {"REGEX": r"arms?"}}]},
    {"label": "LEGS", "pattern": [{"LOWER": {"REGEX": r"(thigh|thighs|leg|legs)"}}]},
    {"label": "GLUTES", "pattern": [{"LOWER": {"REGEX": r"(booty|glute|glutes|butt)"}}]},
    {"label": "WORKOUT_TYPE", "pattern": [{"LOWER": {"REGEX": r"(hiit|cardio|pilates|yoga|dance|tabata|barre|stretch)"}}]},
    {"label": "STANDING", "pattern": [{"LOWER": "standing"}]},
    {"label": "NO_EQUIPMENT", "pattern": [{"LOWER": "no", "LOWER": {"REGEX": r"(equip|equipment|equipments|weight|weights)"}}]},
    {"label": "NO_JUMPING", "pattern": [{"LOWER": "no", "LOWER": "jumping"}]},
    {"label": "LOW_IMPACT", "pattern": [{"LOWER": "low", "LOWER": "impact"}]},
    {"label": "STRENGTH_TRAINING", "pattern": [{"LOWER": {"REGEX": r"(strength|sculpt|sculpting|tone|toning|toned)"}}]}
]

In [25]:
ruler.add_patterns(patterns)

In [26]:
# Extract workout time or type using regular expressions
def extract_ent_text(string, label):
    doc = nlp(string)
    workout_label = None
    for ent in doc.ents:
        if ent.label_ == label:
            workout_label = ent.text
            break
    return workout_label


# Function to convert workout time units to standardized format
def convert_time_units(time_str):

    # Set default value of result to None
    result = None

    # Regular expression pattern to match time units
    pattern = r"(\d+)\s*(min|mins|minute|minutes|hour|hours|hr|hrs)"

    # Extract and convert time units
    matches = re.findall(pattern, time_str, re.IGNORECASE)
    if matches:
        time_value, time_unit = matches[0]
        if time_unit.lower() in ['min', 'mins', 'minute', 'minutes']:
            result = time_value
        elif time_unit.lower() in ['hour', 'hours', 'hr', 'hrs']:
            result = str(int(time_value) * 60)

    return result


# Function to extract body part from a title
def extract_body_part(string):
    doc = nlp(string)
    body_part = None
    body_parts = ["FULL_BODY","UPPER_BODY","LOWER_BODY","CHEST_BACK","ARMS","ABS","LEGS","GLUTES"]
    for ent in doc.ents:
        if ent.label_ in body_parts:
            body_part = ent.label_
            break
    return body_part


# Extract workout using regular expressions
def extract_ent_label(string, label):
    doc = nlp(string)
    workout_label = None
    for ent in doc.ents:
        if ent.label_ == label:
            workout_label = ent.label_
            break
    return workout_label

In [27]:
# Create workout time and workout type column by applying function to extract text of entities
videos_df['workoutLength'] = videos_df['title'].apply(lambda x: extract_ent_text(x,"WORKOUT_TIME"))
videos_df['workoutType'] = videos_df['title'].apply(lambda x: extract_ent_text(x, "WORKOUT_TYPE"))

# Apply the function to create a body part column 
videos_df['bodyPart'] = videos_df['title'].apply(extract_body_part)

In [28]:
# Create new columns by applying function to extract the label of entities
labels_to_extract = ["STANDING", "NO_EQUIPMENT", "NO_JUMPING", "LOW_IMPACT", "STRENGTH_TRAINING"]
workout_features_df = pd.DataFrame(columns=['standingWorkout','noEquipment','noJumping','lowImpact','strengthTraining'])

for i in range(len(labels_to_extract)):
    workout_features_df.iloc[:,i] = videos_df['title'].apply(lambda x: extract_ent_label(x,labels_to_extract[i]))

# Add the new columns to the dataframe of workout videos
videos_df = pd.concat([videos_df,workout_features_df], axis=1)

#### Fill missing values

In [29]:
# Convert the description column to string
videos_df['description'] = videos_df['description'].astype(str)

# Use nlp to extract workout time entity from the description if value is missing for workoutLength column
videos_df['workoutLength'] = videos_df.apply(lambda row: extract_ent_text(row['description'], "WORKOUT_TIME") \
                                             if pd.isna(row['workoutLength']) else row['workoutLength'], axis=1)

In [30]:
# Combine the strings separated by commas
videos_df['combinedTags'] = videos_df['tags'].apply(lambda x: ', '.join(x) if x is not None else x)

# Use nlp to extract workout time entity from the tags if value is missing for workoutLength column
videos_df['workoutLength'] = videos_df.apply(lambda row: extract_ent_text(row['combinedTags'], "WORKOUT_TIME")  \
                                             if pd.isna(row['workoutLength']) and \
                                             row['combinedTags'] is not None else row['workoutLength'],
                                             axis=1)

In [31]:
videos_df[videos_df['workoutLength'].isna()][['title','description','durationMins','combinedTags']]

,title,description,durationMins,combinedTags
0,Shocking Before After Transformation Results! ...,Check out these amazing before and after trans...,9.366667,"Abs, Abs results, Abs workout results, Before ..."
1,when you're having a bad day,Cute samoyed doggies in Seoul!!,0.300000,"samoyed, seoul, day in my life, doggies, dogs,..."
2,A day in my life living in Korea,Short vlog from a day out and about while in S...,12.616667,"dayinmylife, korea, seoul, vlog, chloeting, ch..."
3,GROW YOUR BOOTY with these exercises,See the full video here: https://youtu.be/4zuY...,0.383333,"glute workout, booty workout, gym workout, fit..."
9,Full day of eating in Seoul.. so much food,Here's what I ate over a full day while out an...,9.766667,"whatieat, what i eat, what i ate, food vlog, f..."
...,...,...,...,...
4056,Exciting News!! WORK OUT WITH ME,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS ‚ñ∫ http://bit.ly/...,2.266667,"cardio, meet and greet, exercises, abs workout..."
4057,"Morocco, Portugal, Northern Ireland Travel Vlo...",‚ô°ITINERARY\nDay 1: Flying from Hong Kong to Ma...,14.150000,"travel, Europe Trip, Africa Trip, Morocco, Por..."
4064,Crossfit Workout! Ab & Full Body Weight Traini...,‚ô°CHECK OUT \nCrossfit Valentines Workout + Epi...,7.016667,"crossfit, wod, cardio, abs, workout, fitness, ..."
4066,Healthy Greek Yogurt Pancakes Recipe for Break...,‚ô°CHECK OUT\nHealthy Vegan Smoothies for Weight...,7.266667,"healthy diet, healthy food, nutrition, healthy..."
4068,MY DIET - What I Eat In A Day to Stay Fit and ...,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS ‚ñ∫ http://bit.ly/...,15.100000,"Diet, Weight Loss, Healthy Diet, Healthy Lifes..."

We have now used spaCy's nlp to get the workout length from either the title, description or tags in that order. If the workoutLength column still has missing values at this point, then those videos have to be investigated further. There is a high likelihood that those videos might not be a workout video but a food vlog, travel vlog, motivational video or reaction video to transformation results. We will use the video tags to try to identify and filter out those videos.

In [32]:
# List of keywords to drop rows containing them in the tags
keywords = ['travel', 'trip', 'food', 'what I eat',
            'fashion', 'outfit', 'transformation',
            'vlog', 'day in my life']

# Create a regular expression pattern from the keywords
pattern = '|'.join(keywords)

# Filter out the rows that have a partial match with any of the keywords
notworkouts_df= videos_df[(videos_df['workoutLength'].isna()) & (videos_df['combinedTags'].fillna('').str.contains('|'.join(keywords)))]

# Drop the subset to get workout videos only
workout_videos_df = videos_df.drop(notworkouts_df.index)

In [33]:
# Function to convert time units to minutes
def convert_time_units(time_str):
    # Set default return value to None
    result = None
    
    # Regular expression pattern to match time units
    pattern = r"(\d+)\s*(min|mins|minute|minutes|hour|hours|hr|hrs)"
    
    # Extract and convert time units
    matches = re.findall(pattern, time_str, re.IGNORECASE)
    if matches:
        time_value, time_unit = matches[0]
        
        if time_unit.lower() in ['min', 'mins', 'minute', 'minutes']:
            result = int(time_value)
        elif time_unit.lower() in ['hour', 'hours', 'hr', 'hrs']:
            result = int(time_value) * 60
    
    return result

In [34]:
# Standardize the derived workoutLength column so they all have the same units (mins)
workout_videos_df['workoutLength_mins'] = workout_videos_df['workoutLength'].apply(lambda x: convert_time_units(str(x)))

In [35]:
# Check the distribution of workout length after filling in missing values for outliers
workout_videos_df['workoutLength_mins'].describe()

count    1844.000000
mean      115.303688
std       368.744552
min         1.000000
25%        10.000000
50%        12.000000
75%        20.000000
max      2880.000000
Name: workoutLength_mins, dtype: float64

In [37]:
workout_videos_df[workout_videos_df['workoutLength_mins'] > 30][['title','description','durationMins','combinedTags']]

,title,description,durationMins,combinedTags
207,2000 REP Full Body & Abs Workout CHALLENGE for...,Thank you for 2milsubs! Dropping a hot INTENSE...,49.800000,"2000 rep challenge, workout challenge, 1 hour ..."
273,45 Min Full Body FAT BURN Workout | Get Flat A...,"This is a 45 minute, full body burn workout th...",46.883333,"abs, ab, abs exercise, abs workout, flat belly..."
306,What I Eat To Lose Weight | Healthy Recipes | ...,Hello you beautiful people! This week i'm tryi...,20.483333,"Lose Weight, What I Eat To Lose Weight, What I..."
369,Quick & Easy Healthy Snacks | 3 Pre Workout Sn...,Quick and Easy Healthy Snacks | 3 Pre Workout ...,4.350000,"Healthy Snack, Healthy Snacks, Quick and easy,..."
394,Healthy Breakfast Ideas | Fitness Food | On Th...,Healthy Breakfast Ideas | Fitness Food | Healt...,7.550000,"Healthy Breakfast, Breakfast ideas, Healthy Br..."
...,...,...,...,...
3893,Wong Family Taiwan Food Trip: Trying to Speak ...,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS Ë®ÇÈñ±ÊàëÁöÑÈ†ªÈÅì‰Ω†‰∏çÊúÉÂæåÊÇî‚ò∫\n‚ñ∫ h...,6.883333,"taiwan vlog, taipei vlog, taiwan food, taiwane..."
3924,45-min Full Body Fat Burn HIIT at home with NO...,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS Ë®ÇÈñ±ÊàëÁöÑÈ†ªÈÅì‰Ω†‰∏çÊúÉÂæåÊÇî‚ò∫\n‚ñ∫ h...,46.716667,"quiet cardio, full body workout, home workout,..."
3978,My Instagram Followers Control My Life For A D...,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS ‚ñ∫ http://bit.ly/...,16.600000,i let my instagram followers control my life f...
3982,36 HOURS IN SINGAPORE! WHAT WE EAT AND DO | Tr...,‚ô°This video is in sponsored by BetterHelp\nBet...,12.033333,"singapore vlog, travel vlog, things to do in s..."
3984,HUGE BIKINI TRY-ON HAUL ($15-20 ONLY!! PLUS SU...,‚ô°SUBSCRIBE FOR WEEKLY VIDEOS ‚ñ∫ http://bit.ly/...,6.683333,"summer haul, bikini haul, clothing haul, try o..."

### Save the processed data

In [ ]:
# Save dataframes as csv files 
channels_df.to_csv("../data/processed/fitness_channels_processed_2023_06_28.csv", index=False)
workout_videos_df.to_csv("../data/processed/fitness_videos_processed_2023_06_28.csv", index=False)