## Data Pre-Processing

In [1]:
import os
import pandas as pd
import isodate

#### Read the channels and videos files into dataframes

In [2]:
cwd = os.path.dirname(os.getcwd())
path = cwd + "/data/raw"
channels_df = pd.read_csv(path + "/channels_data.csv")
videos_df = pd.read_csv(path + "/videos_data.csv")

In [3]:
channels_df.head()

,Unnamed: 0,ChannelName,ChannelDescription,PublishedDate,TotalSubscribers,TotalViews,TotalVideos,playlistID
0,0,Chloe Ting,Subscribe to my channel and find weekly workou...,2011-08-17T04:29:09Z,24600000,2965643413,405,UUCgLoMYIyP0U56dEhEL1wXQ
1,1,blogilates,"Hey guys! My name is Cassey Ho, I am a certifi...",2009-06-13T09:05:48Z,8580000,2723093080,1177,UUIJwWYOfsCfz6PjxbONYXSg
2,2,Rebecca-Louise,"Hey, \n\nWelcome to #TEAMBURN üôåüèª \n\nI am so e...",2012-09-22T18:04:00Z,719000,116976058,1239,UUi0AqmA_3DGPFCu5qY0LLSg
3,3,emi wong,welcome to my channel!\nhope my videos can hel...,2014-11-02T14:43:34Z,6060000,810394833,490,UUvGEK5_U-kLgO6-AMDPeTUQ
4,4,MadFit,"This is a place where I post REAL TIME, AT HOM...",2018-03-02T01:46:06Z,7950000,932630071,710,UUpQ34afVgk8cRQBjSJ1xuJQ

In [4]:
videos_df.head()

,Unnamed: 0,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition
0,0,5GLA8MrlDnM,Chloe Ting,A day in my life living in Korea,Short vlog from a day out and about while in S...,"['dayinmylife', 'korea', 'seoul', 'vlog', 'chl...",2023-06-05T14:51:22Z,163593,6344.0,NaN,714.0,PT12M37S,hd
1,1,IOJ7Fxa8e2Y,Chloe Ting,GROW YOUR BOOTY with these exercises,See the full video here: https://youtu.be/4zuY...,"['glute workout', 'booty workout', 'gym workou...",2023-05-24T15:32:44Z,119223,4016.0,NaN,58.0,PT23S,hd
2,2,ljNgkSctkXg,Chloe Ting,INTENSE Full Body Workout - 30 Min No Equipment,This is a 30 min full body intense workout fro...,"['workout', 'home workout', 'full body workout...",2023-05-17T14:00:27Z,392463,11738.0,NaN,735.0,PT31M14S,hd
3,3,0rL2496zybs,Chloe Ting,10 Min Core & Upper Body | No Equip Home Workout!,This is episode 4 of the 2023 Summer Shred Cha...,"['core', 'abs', 'upper body', 'upper body work...",2023-05-15T14:00:01Z,244965,8028.0,NaN,282.0,PT10M52S,hd
4,4,PEX2uefaUAY,Chloe Ting,Perky Booty & Leg Workout | 20 min Glute Workout,This is episode 3 of the 2023 Summer Shred Cha...,"['tiny waist', 'waist', 'booty', 'booty workou...",2023-05-09T14:00:15Z,470075,13519.0,NaN,428.0,PT20M39S,hd

#### Drop redundant column and rows

In [5]:
channels_df.drop('Unnamed: 0', axis = 1, inplace = True)
videos_df.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
(channels_df.duplicated().any(),videos_df.duplicated().any())

(False, False)

#### Missing data

In [7]:
channels_df.isnull().any()

ChannelName           False
ChannelDescription    False
PublishedDate         False
TotalSubscribers      False
TotalViews            False
TotalVideos           False
playlistID            False
dtype: bool

Getting video information from channel: blogilates
Could not get comments for video AiVqvB07GyI
Could not get comments for video nPQHHZ5sjTw
Could not get comments for video X1kMiRQq354
Could not get comments for video k9mZ6zc6wM0
Could not get comments for video o3E9Oak_n7E
Could not get comments for video kCWmpm5nyCo
Could not get comments for video pPHl8qfAo2A
Could not get comments for video Tfei0NvjZrM

Getting video information from channel: Rebecca-Louise
Could not get comments for video SB8zu5kprJY
Could not get comments for video oAax6YZvaN0
Could not get comments for video 6GsbnH-Tw7k
Could not get comments for video 3vJ05j99CT8
Could not get comments for video rbxxmB6cqtE
Could not get comments for video b7PZXm4NKqk
Could not get comments for video BDDZ9X8-rYg
Could not get comments for video wbH0eD3b7D4

Getting video information from channel: emi wong
Could not get comments for video NJZ95sZlXL4

Getting video information from channel: MadFit
Could not get comments for video VJ75BRoB24I

In [8]:
videos_df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount          True
favouriteCount     True
commentCount       True
duration          False
definition        False
dtype: bool

In [9]:
videos_df[videos_df.isnull().any(axis = 1)]

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition
0,5GLA8MrlDnM,Chloe Ting,A day in my life living in Korea,Short vlog from a day out and about while in S...,"['dayinmylife', 'korea', 'seoul', 'vlog', 'chl...",2023-06-05T14:51:22Z,163593,6344.0,NaN,714.0,PT12M37S,hd
1,IOJ7Fxa8e2Y,Chloe Ting,GROW YOUR BOOTY with these exercises,See the full video here: https://youtu.be/4zuY...,"['glute workout', 'booty workout', 'gym workou...",2023-05-24T15:32:44Z,119223,4016.0,NaN,58.0,PT23S,hd
2,ljNgkSctkXg,Chloe Ting,INTENSE Full Body Workout - 30 Min No Equipment,This is a 30 min full body intense workout fro...,"['workout', 'home workout', 'full body workout...",2023-05-17T14:00:27Z,392463,11738.0,NaN,735.0,PT31M14S,hd
3,0rL2496zybs,Chloe Ting,10 Min Core & Upper Body | No Equip Home Workout!,This is episode 4 of the 2023 Summer Shred Cha...,"['core', 'abs', 'upper body', 'upper body work...",2023-05-15T14:00:01Z,244965,8028.0,NaN,282.0,PT10M52S,hd
4,PEX2uefaUAY,Chloe Ting,Perky Booty & Leg Workout | 20 min Glute Workout,This is episode 3 of the 2023 Summer Shred Cha...,"['tiny waist', 'waist', 'booty', 'booty workou...",2023-05-09T14:00:15Z,470075,13519.0,NaN,428.0,PT20M39S,hd
...,...,...,...,...,...,...,...,...,...,...,...,...
4018,pVMn0uSyD7M,MadFit,10 min LOWER Abs Workout | LOSE LOWER BELLY FAT,A 10 min intense lower abs AT HOME NO EQUIPMEN...,"['lower ab workout', 'lower abs', 'belly fat',...",2018-03-19T22:43:53Z,630251,16228.0,NaN,237.0,PT14M33S,hd
4019,KQba6FrlBO8,MadFit,15 min INTENSE FAT BURNER | AT HOME FULL BODY ...,An intense 15 minute FAT BURNING workout that ...,"['15 min workout', 'workout', 'workout video',...",2018-03-16T15:24:32Z,183464,4977.0,NaN,146.0,PT17M42S,hd
4020,nhWkK7L8X0E,MadFit,10 min AB WORKOUT | AT HOME NO EQUIPMENT | Cor...,WORKOUT WITH ME... real time! A 10 minute inte...,"['ab workout', 'workout', 'at home workout', '...",2018-03-14T15:31:36Z,209317,6539.0,NaN,198.0,PT13M4S,hd
4021,VJ75BRoB24I,MadFit,MadFit Live Stream,NaN,NaN,2018-03-12T22:35:32Z,0,0.0,NaN,0.0,P0D,sd
4022,EMU5ERi3gg0,MadFit,10 MIN BEGINNER FULL BODY WORKOUT at home no e...,Workout with me (Maddie Lymburner)... real tim...,"['full body', 'full body workout', 'workout', ...",2018-03-12T15:42:54Z,897197,21021.0,NaN,796.0,PT12M42S,hd

In [10]:
videos_df.publishedAt.sort_values()

1581    2009-10-06T04:47:37Z
1580    2009-11-04T18:05:19Z
1579    2009-11-10T05:18:29Z
1578    2009-11-18T06:49:44Z
1577    2009-11-30T08:13:39Z
                ...
2821    2023-06-07T10:33:33Z
1583    2023-06-07T12:00:24Z
3313    2023-06-07T14:00:19Z
3312    2023-06-08T14:00:09Z
1582    2023-06-08T15:00:08Z
Name: publishedAt, Length: 4023, dtype: object

#### Checking data types

In [11]:
channels_df.dtypes

ChannelName           object
ChannelDescription    object
PublishedDate         object
TotalSubscribers       int64
TotalViews             int64
TotalVideos            int64
playlistID            object
dtype: object

In [12]:
videos_df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount           int64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
dtype: object

In [13]:
# Title character length
videos_df['titleLength'] = videos_df['title'].apply(lambda x: len(x))

In [14]:
# Create publish day (of the week) column
video_df['publishedAt'] =  video_df['publishedAt'].apply(lambda x: parser.parse(x)) 
video_df['pushblishDayName'] = video_df['publishedAt'].apply(lambda x: x.strftime("%A"))

NameError: name 'video_df' is not defined

In [ ]:
# Create publish time (of the day) column

In [15]:
# Convert duration to seconds
videos_df['durationSecs'] = videos_df['duration'].apply(lambda x: isodate.parse_duration(x))
#videos_df['durationSecs'] = videos_df['durationSecs'].astype('timedelta64[s]')

In [17]:
videos_df.dtypes

video_id                   object
channelTitle               object
title                      object
description                object
tags                       object
publishedAt                object
viewCount                   int64
likeCount                 float64
favouriteCount            float64
commentCount              float64
duration                   object
definition                 object
titleLength                 int64
durationSecs      timedelta64[ns]
dtype: object